:root{
    --bg-dark: oklch(0.1 0.085 195);
    --bg: oklch(0.15 0.085 195);
    --bg-light: oklch(0.2 0.085 195);
    --text: oklch(0.96 0.1 195);
    --text-muted: oklch(0.76 0.1 195);
    --highlight: oklch(0.5 0.17 195);
    --border: oklch(0.4 0.17 195);
    --border-muted: oklch(0.3 0.17 195);
    --primary: oklch(0.76 0.17 195);
    --secondary: oklch(0.76 0.17 15);
    --danger: oklch(0.7 0.17 30);
    --warning: oklch(0.7 0.17 100);
    --success: oklch(0.7 0.17 160);
    --info: oklch(0.7 0.17 260);
}



body {
    background-color: var(--bg);
    color: var(--text);
    font-family: 'JetBrains Mono Nerd Font';
}

a {
  color: var(--highlight);
  margin: 0.5em;
}
a:hover {
    color: var(--text);
}

#contentDiv {

    margin-left: 100px;
    margin-right: 50px;
    max-width: 75%;


}

.navbar {
    color: var(--info);
    padding-bottom: 50px;

}

.float {
    justify-content: space-around;
    margin-right: 2em;

}

#clock {
    float:right;
    font-weight: bold;
    color: var(--text);
}

#navClickables {
    font-size: 0.75em;
    font-style: normal;
    float: right;
    text-align: center;
    padding-top: 1em;
}

#headingText {
    color: var(--text);
    margin-left: 1em;
    padding-bottom: 1em;

}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: var(--bg);
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;

  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #04AA6D;

}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color:var(--bg);
  color: var(--text);
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div#contentDiv {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.icon {
  color: var(--text);
  width: 48px;
  height: 48px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
      float: left;
  }
  div#contentDiv {
      margin-left: 10%;
      margin-right: 10%;}
  #navClickables {
      width: 100%;
  }
  #headingText {
      margin: 0;
      position: relative;
      width: 100%;
      text-align: center;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

@font-face {
  font-family: 'JetBrains Mono Nerd Font';
  src: url('https://raw.githubusercontent.com/ryanoasis/nerd-fonts/master/patched-fonts/JetBrainsMono/Ligatures/Regular/JetBrainsMonoNerdFont-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
