body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  margin: 1em;
}

.navbar {
  color: darkgrey;
}

#headingText {
    font-family: sans-serif;
    font-style: italic;
}
